body {
    font-family: 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color      : $base-color;
    font-weight: $heading-font-weight;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
    color: $base-color;
}

a {}

i {
    font-size   : $base-font-size * 0.85;
    margin-right: 10px;
}

ul {
    list-style: none;
    margin    : 15px 0 0;
    padding   : 0;

    li {
        margin-bottom: 10px;
    }
}